/*Define Accordion box*/
body {
  width: 100%; }

.accordion {
  width: 35%;
  overflow: hidden;
  color: #474747;
  border: 2px solid blue; }

.accordion section {
  float: left;
  overflow: hidden;
  color: #333;
  cursor: pointer;
  background: #333;
  padding-top: -2px;
  width: 100%;
  height: 66px;
  transition: height 3s; }

.accordion section h2 {
  margin: 0; }

.accordion section p {
  padding-left: 8px;
  padding-right: 5px;
  font-size: 17px; }

.accordion section.show {
  background: #FFF;
  height: 235px; }

.accordion section.show {
  background: #FFF; }

.accordion section.show h2 {
  width: 100%;
  margin: auto;
  background-color: #1C2E64; }

.accordion section.show h2 a {
  padding-left: 20px;
  color: red; }

.accordion section.show p {
  display: block;
  height: 70px; }

.accordion section h2 a {
  display: block;
  font-size: 1.0em;
  font-weight: normal;
  color: white;
  background-color: blue;
  height: 50px;
  text-decoration: none;
  padding-left: 20px;
  padding-top: 15px;
  border-bottom: 1px solid red;
  border-top: 1px solid red;
  border-left: 1px solid red;
  border-right: 1px solid red; }

.accordion section h2 a:hover {
  background-color: #3399FF; }

.vertical section:after {
  top: -60px;
  left: 150px; }

.vertical section:target:after {
  left: -999px; }
