$headercolor: #5C85FF;
$paragraphtext: #BCBCBC;

body {
  border: 2px solid line black;

}

.container {
  width: 500px;
  border: 2px solid #3E3ECC;
  height: 600px;

}

  div {

 
}

    .topsection, .middlesection, .bottomsection {
      height: 36px;
      overflow: hidden; 
    
  }

    .grow {
      height: 180px;
      overflow: hidden;
  }

      a {
        text-decoration: none;
  }


  h2 {
  color: white;
  background-color: #5C85FF;
  padding-top: 0px;
  padding-left: 25px;
  border-top: 1px solid #3E3ECC;
  height: 40px;
  margin: 0;

}


  h2:hover {
    background-color: #AFC4FF;


}

  p {
  color: #BCBCBC;
  padding-left: 15px;
  padding-right: 20px;

}